version: '3.9'
services:
  backend:
    build: ./socket-io-chat-main/back-end
    ports:
      - "5000:5000"
    environment:
      DB_CONNECTION_STRING: ${DB_CONNECTION_STRING}

  frontend:
    build: ./socket-io-chat-main/front-end
    ports:
      - "3000:80"
