version: '3.9'
services:
  jenkins:
    image: custom-jenkins
    user: root
    privileged: true
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080"
      
  backend:
    build: ./socket-io-chat-main/back-end
    ports:
      - "5000:5000"
    environment:
      DB_CONNECTION_STRING: "mongodb+srv://mouad_db_user:dOk4X4TOZQXqjyBQ@chat-app-cluster.jtuwgk3.mongodb.net/chat-app-db?appName=chat-app-cluster"

  frontend:
    build: ./socket-io-chat-main/front-end
    ports:
      - "3000:80"
